.table-container {
  
 
  max-width: 100%;
  max-height: 320px;
  overflow: auto; /* Enable scrolling for overflow content */
  margin: auto; /* Center the table horizontally */
 
}

.admincon table {
  width: 90%; /* Make the table fill the container */
  border-collapse: collapse; /* Collapse table borders */
  margin-left: 105px;
  margin-top: 0px;
 

}
.nav{
  
  color: #515553;
}

.admincon th,
.admincon td {
  padding: 13px;
  /* padding-left: 20px; Add padding to table cells */
  text-align: left; /* Center-align text */
  border: 1px solid rgb(114, 110, 110); /* Add black border */
}

.admincon th {
  background-color: #8DA399;
  position: sticky;
   color: white;
   font-size: 14px;
  top: 0;
  z-index: 2;
}
.admincon td{
  font-size: 14px;
}

.admincon input[type="text"] {
  padding: 8px; /* Add padding to the input field */
  margin-right: 10px; /* Add margin to the right of the input field */
  border: 1px solid #ccc; /* Add border to the input field */
  border-radius: 4px; /* Add border-radius to the input field */
  box-sizing: border-box; /* Ensure padding and border are included in the input's total width */
  font-size: 16px; /* Set font size */
  /* margin-bottom: 8px; */
}

.download-button {
  height: 32px;
  width: 60px;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: #4ec756;
  margin-bottom: 15px;
  border: 1px groove;
  border-color: transparent;
  color: white;
  border-radius: 5px;
  margin-left: 290px;
 
}

.search {
  height: 32px;
  width: 60px;
  transition: all 250ms;
  font-family: sans-serif;
  background-color: rgb(112, 134, 165);
  border: 1px groove;
  border-color: transparent;
  color: rgb(247, 239, 239);
  position: relative;
  left: 230px;
  border-radius: 5px;
}

.date {
  border-radius: 10px;
}


.marquee-container {
  position: fixed;
  bottom: 40px;
  left: 150px;
  width: 100%;
  padding: 10px 0; /* Adjust padding as needed */
  z-index: 1000; /* Ensures it stays above other elements */
  overflow: hidden; /* Ensures the scrolling text stays within the container */
}

.marquee-text {
  display: inline-block;
  white-space: nowrap;
  color: red;
  animation: marquee 9s linear infinite; /* Adjust the duration as needed */
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}

#Back{
  position: absolute;
  bottom: 100px;
}